<div class="booked-date-and-flight-number">
    <p>Date: <strong><%= departureDate %></strong></p>
    <p>Flight number: <strong>DA <%= flightNumber %></strong></p>
</div>
<div class="booked-departure-and-arrival-info">
    <div class="booked-airport-info">
        <p>Origin: <strong><%= originCity %> - <%= originName %> (<%= origin %>)</strong></p>
        <p>Departure time: <strong><%= departureTime %></strong></p>
    </div>
    <div class="booked-airport-info">
        <p>Destination: <strong><%= destinationCity %> - <%= destinationName %> (<%= destination %>)</strong></p>
        <p>Arrival time: <strong><%= arrivalTime %></strong></p>
    </div>
</div>