<div class="booked-date-and-flight-number">
    <p>Date: <%= departureDate %></p>
    <p>Flight number: DA <%= flightNumber %></p>
</div>
<div class="booked-departure-and-arrival-info">
    <div class="booked-airport-info">
        <p>Origin: <%= originCity %> - <%= originName %> (<%= origin %>)</p>
        <p>Departure time: <%= departureTime %></p>
    </div>
    <div class="booked-airport-info">
        <p>Destination: <%= destinationCity %> - <%= destinationName %> (<%= destination %>)</p>
        <p>Arrival time: <%= arrivalTime %> </p>
    </div>
</div>