<div class="departure-and-arrival-info">
    <div class="airport-info">
        <p>Origin: <strong><%= originCity %> (<%= origin %>)</strong></p>
        <p>Departure time: <strong><%= departureTime %></strong></p>
    </div>
    <div class="airport-info">
        <p>Destination: <strong><%= destinationCity %> (<%= destination %>)</strong></p>
        <p>Arrival time: <strong><%= arrivalTime %></strong></p>
    </div>
</div>