<div class="departure-and-arrival-info">
    <div class="airport-info">
        <p>Origin: <%= originCity %> (<%= origin %>)</p>
        <p>Departure time: <%= departureTime %></p>
    </div>
    <div class="airport-info">
        <p>Destination: <%= destinationCity %> (<%= destination %>)</p>
        <p>Arrival time: <%= arrivalTime %></p>
    </div>
</div>