<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('includes/head-config') %>
    <link rel="stylesheet" href="/styles/flight-search.css">
    <title>Flight search</title>
</head>

<body>
    <%- include('includes/nav-bar')%>
    <%- include('includes/side-drawer')%>    
    <h2>Here's what we got for you!</h2>
    <br>
    <h3>These are the flights we have between <strong><%= origin %></strong> and <strong><%= destination%></strong> on <strong><%= departDate%></strong>.</h3>
    <%- include('includes/single-flight-option') %>
    <%- include('includes/single-flight-option') %>
    <% if(returnDate != "") {%>
        <h3>These are the flights we have between <strong><%= destination %></strong> and <strong><%= origin%></strong> on <strong><%= returnDate%></strong>.</h3>
        <%- include('includes/single-flight-option') %>
        <%- include('includes/single-flight-option') %>
    <%}%>
    <a href="/index" id="go-back-to-main-page">Go back to main page</a>
</body>

</html>