<!DOCTYPE html>
<html lang="en">

<head>
    <%-include('includes/head-config') %>
    <link rel="stylesheet" href="/styles/flight-search.css">
    <title>Flight search</title>
</head>

<body>
    <%- include('includes/nav-bar')%>
    <%- include('includes/side-drawer')%>    
    <h2>Here's what we got for you!</h2>
    <br>
        <h3>These are the flights we have between <strong><%= outboundFlights[0].originCity %> (<%= origin %>)</strong> and <strong><%= outboundFlights[0].destinationCity %> (<%= destination %>)</strong> on <strong><%= departDateFormatted%></strong>.</h3>
        <form action="<% if(typeOfTrip == 'round-trip'){%>submit-flight-data-information-inbound<%} else if (typeOfTrip == 'one-way'){%>pax-info<%}%>" method="POST">
        <% for (outboundFlight of outboundFlights) { %>
            <%- include('includes/single-flight-option',{
                flightNumber:outboundFlight.flightNumber,
                departureTime: outboundFlight.departureTime,
                originCity: outboundFlight.originCity,
                originAirport: outboundFlight.originAirport,
                arrivalTime: outboundFlight.arrivalTime,
                destinationCity: outboundFlight.destinationCity,
                destinationAirport:outboundFlight.destinationAirport,
                flightDuration: outboundFlight.flightDuration
            }) %>
        <% } %>
        <input type="hidden" name="originCity" value="<%= origin%>">
        <input type="hidden" name="destinationCity" value="<%= destination%>">
        <input type="hidden" name="departDate" value="<%= departDate%>">
        <input type="hidden" name="returnDate" value="<%= returnDate%>">
        <input type="hidden" name="paxNumber" value="<%= paxNumber%>">
        <input type="hidden" name="typeOfTrip" value="<%= typeOfTrip%>">
    <div id="final-section">
    <button type="submit" class="final-button"><% if(typeOfTrip == 'round-trip') {%>Look for inbound flights<%} else if (typeOfTrip == 'one-way'){%>Go to passenger data<%}%></button>
    <a href="/" class="final-button">Go back to main page</a>
    </div>
    </form>
    <%- include('includes/footer')%>
</body>

</html>